<h3><%= link_to project_item.title, project_show_path(project_item) %></h3>

<p><%= project_item.subtitle %></p>

<p><%= project_item.body %></p>

<%= image_tag project_item.thumb_image if project_item.thumb_image %>
<%= link_to "Edit", edit_project_path(project_item) if logged_in?(:site_admin) %>
<%= link_to 'Delete Project Item', project_path(project_item), method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %>
