<h1>Edit a new Project Item</h1>

<%= form_for(@project_item) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="subtitle">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle %>
  </div>

  <div class="body">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
