<h1>Project Items</h1>

<a href="<%= new_project_path %>">Create New Item</a>

<%= link_to "Create New Item", new_project_url %>

<% @project_items.each do |project_item| %>
  <h3><%= project_item.title %></h3>
  <p><%= project_item.subtitle %></p>
  <p><%= project_item.body %></p>
  <%= image_tag project_item.thumb_image if project_item.thumb_image %>
  <%= link_to "Edit", edit_project_path(project_item) %>
<% end %>
