<h1>Project Items</h1>

<%= link_to "Create New Item", new_project_url %>

<% @project_items.each do |project_item| %>
  <h3><%= link_to project_item.title, project_show_path(project_item) %></h3>
  <p><%= project_item.subtitle %></p>
  <p><%= project_item.body %></p>
  <%= image_tag project_item.thumb_image if project_item.thumb_image %>
  <%= link_to "Edit", edit_project_path(project_item) %>
  <%= link_to 'Delete Project Item', project_path(project_item), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
