<div class="container project-container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag project_img(@project_item.main_image, "main"), width: "100%" %>
    </div>
    <div class="col-md-5">
      <h1><%= @project_item.title %></h1>
      <hr>
      <em><%= @project_item.subtitle %></em>
      <p><%=  @project_item.body %></p>
      <hr>
      <h3>Technologies Used:</h3>
      <% @project_item.technologies.each do |t| %>
        <p><%= t.name %></p>
      <% end %>

      <% if logged_in?(:site_admin) %>
        <div>
          <%= link_to "Edit Item", edit_project_path(@project_item), class: "btn btn-warning" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
