<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'projects', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main role="main">
      <%= render "shared/project_nav" %>
      <%= render "shared/project_masthead" %>
      <%= yield %>
      <%= render "shared/project_footer" %>
      <%= source_helper("application") %>
    </main>

  </body>
</html>
